.hidden {
}
.playerIcon {
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 100px;
}

.playerIcon img {
  width: 70px;
}

@media screen and (max-width: 960px) {
  .playerIcon img {
    width: 50px;
  }
}
